.input-redondo {
    border-radius: 10px;
    width: 150%;
  }
 .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.body{
  
  background-image: url(img/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(15, 13, 13);
    background-color: black;

  }
  .content input[type="submit"]{
    background-color: rgb(221, 122, 29);
    color: white;
  }
  .content{
    color: white;
  }
  body{
    background-image: url(img/fundo2.png);
  }