.body{
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    background-image: url(img/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.input-redondo {
    border-radius: 10px;
    width: 150%;
  }
.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  body{
    background-image: url(img/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .cadastro input[type="submit"]{
    background-color: green;
    color: white;
  }
  .cadastro{
    color: white;
  }
  .rodapé{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }